### --- JetBrains (IntelliJ, DataGrip, etc.) ---
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### --- Visual Studio Code ---
.vscode/
*.code-workspace
.history/

### --- Sistema Operativo ---
.DS_Store
Thumbs.db
*~
*.swp
*.lock
# Archivos temporales de compilación o paquetes
*.pkg.tar.zst
*.src.tar.gz
pkg/
src/

### --- Base de Datos & SQL ---
# Ignorar logs de consola de DataGrip o archivos temporales de queries
*.sql.bak
*.tmp.sql
